<% title "Listing pages" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <tr>
    <th>Title</th>
    <th>Permalink</th>
  </tr>

	<%= render @pages %>
</table>

<%= link_to "New page", new_admin_page_path,
                  class: primary_button_class,
                  role: "button" %>
