<% content_for(:title) { "Draw submitted" } %>

<h2 class="h2"><%= yield(:title) %></h2>

<p>Sports results have been submitted for the sport section below:</p>

<table>
	<tr><td>Section:</td><td><%= @section.name %></td></tr>
</table>
