<%= simple_form_for(@participant, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :lock_version, as: :hidden %>

	<% if can_display_onsite_flag %>
		<h2>Camping</h2>


		<br/>
	<% end %>

	<h2>Sport Notes</h2>


	<br/>

	<%= f.button :submit %>
<% end %>	
