<% title "Notes for #{@participant.name}" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form_notes", locals: { 
                              url: update_notes_mysyg_participant_path(group: @group.mysyg_setting.mysyg_name), 
                              method: :patch } %>

<br/>

<%= link_to "Back", :back,
                  class: primary_button_class,
                  user: "button" %>
