<% title "Sports for #{@participant.name}" %>

<h1><%= yield(:title) %></h1>

<% @question_number = 0 %>

<%= render partial: "form_sports", locals: { 
                              url: update_sports_mysyg_participant_path(group: @group.mysyg_setting.mysyg_name), 
                              method: :patch } %>

