<% title "Update password" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form_password", locals: { 
                              url: update_password_sc_user_path(@user), 
                              method: :patch } %>

<br/>

<%= link_to "Back", root_path,
                  class: primary_button_class,
                  user: "button" %>
