<% content_for(:title) { "Welcome Group Coordinator" } %>

<h2 class="h2"><%= yield(:title) %></h2>

<p>Hi <%= @user.name %></p>

<p>Your group has now been approved for State Youth Games <%= @settings.this_year %>.</p> 

<p>Your permissions have now been updated so that you have the ability to view and edit all of your team data for this year's event.</p>

<p>Your church representative also has permissions now to activate / add additional users to your group for other members of your team.</p>

<p>All the best with your preparations as we move towards SYG.</p>

<p>Kind regards,</p>

<p>The SYG Registrations Team</p>