<% title "Editing #{@session.name}" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_session_path(@session), 
                              method: :put } %>

<%= link_to "Back", admin_sessions_path,
                  class: "btn btn-primary btn-sm",
                  role: "button" %>
<%= link_to "Destroy", admin_session_path(@session),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-primary btn-sm",
                  role: "button" %>
