<% title "New session" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_sessions_path(@session), 
                              method: :post } %>

<br/>

<%= link_to "Back", admin_sessions_path,
                  class: primary_button_class,
                  role: "button" %>
