<% title "Technical Statistics" %>

<h1><%= yield(:title) %></h1>

<h2>Access Model Sync</h2>

<table class="table table-dark table-striped">
    <tr>
       <th>Model</th>
       <th>Low ID</th>
	   <th>High ID</th>
    </tr>

	<%= render partial: 'tech_stats', collection: @tech_stats %>
</table>

<h2>Queue Status</h2>

<table class="table table-dark table-striped">
	<%= render partial: 'queue_stats', collection: @queue_stats %>
</table>
