<p style="color: green"><%= notice %></p>

<h1>Sport result entries</h1>

<div id="sc_sport_result_entries">
  <% @sport_result_entries.each do |sport_result_entry| %>
    <%= render sport_result_entry %>
    <p>
      <%= link_to "Show this sport result entry", sc_sport_result_entry_path(sport_result_entry) %>
    </p>
  <% end %>
</div>

<%= link_to "New sport result entry", new_sc_sport_result_entry_path %>