<tr class="<%= results_display_class(section) %>">
	<td><%= section.session_name %></td>
	<td><%= section.name %></td>
	<td>
		<%= link_to "Results", admin_sport_result_path(section.id),
				class: primary_button_class,
				role: "button" %>
	</td>
</tr>
