<h1>Sport results</h1>

<%= link_to "Download", matches_admin_round_robin_matches_path(format: :xlsx),
        class: primary_button_class,
        role: "button" %>
<%= link_to "Upload", new_import_admin_round_robin_matches_path,
        class: danger_button_class,
        role: "button" %>

<br/>
<br/>

<table class="table table-dark">
  <thead>
    <th>Session</th>
    <th>Section</th>
    <th />
  </thead>
  <tbody>
    <%= render :partial => 'result', :collection => @sections, :as => :section %>
  </tbody>
</table>

<%= legend_box [{name: "Submitted", class: "table-primary"},
				  {name: "Started", class: "table-danger"},
          {name: "Untouched", class: "table-warning"}] %>
