<% title "New payment" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: gc_payments_path(@payment), 
                              method: :post } %>

<br/>

<%= link_to "Back", gc_payments_path,
                  class: primary_button_class,
                  role: "button" %>
