<p style="color: green"><%= notice %></p>

<h1>Sport results</h1>

<table class="table table-dark table-striped">
  <thead>
    <th>Session</th>
    <th>Section</th>
    <th />
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.session.name %></td>
        <td><%= section.name %></td>
        <td>
          <%= link_to "Results", admin_sport_result_path(section.id),
                  class: primary_button_class,
                  role: "button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>