<% title "Switch groups" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
	<%= render partial: 'available_group', collection: @groups %>
</table>

<%= link_to "Back", :back,
                  class: primary_button_class,
                  role: "button" %>
