<% content_for(:title) { "SYG Payment Receipt" } %>

<h2 class="h2"><%= yield(:title) %></h2>

<p>Hi GCs</p>

<p>Here is your <%= link_to "tax receipt", receipt_payment_url(@payment) %> for your payment for State Youth Games.</p> 

<p>Kind regards,</p>

<p>The SYG Team</p>