<tr valign="top" class="<%= participant_display_class(participant) %>">
	<td> 
        <%= link_to participant.name, edit_sport_notes_gc_participant_path(participant) %>
	</td>
	
	<td> 
		&nbsp;
	</td>
</tr>
