<% title "Participants to be Accepted" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>

	<%= render partial: 'participant_approval', collection: @participants, as: :participant %>
</table>

<%= legend_box [{:name => "Sports Participant", :class => "table-primary"},
					{:name => "Spectator", :class => "table-warning"},
					{:name => "Not Coming", :class => "table-dark"}] %>
