<% title "Camping preferences" %>

<h1><%= yield(:title) %></h1>
    
<% if !@participants.empty? %>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Camping Preferences</th>
            </tr>
        </thead>

        <%= render partial: 'participant_camping_preferences', collection: @participants, as: :participant %>
    </table>
<% end %>

<%= legend_box [{:name => "Sports Participant", :class => "table-primary"},
					{:name => "Spectator", :class => "table-warning"},
					{:name => "Not Coming", :class => "table-dark"}] %>

<%= link_to "Download", camping_preferences_gc_participants_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
