<% title "Participant details: #{@participant.name}" %>

<h1><%= yield(:title) %></h1>

<%= render 'show', model: @participant %>

<%= link_to "Back", gc_participants_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Edit", edit_gc_participant_path(@participant),
                  class: primary_button_class,
                  role: "button" %>
