<% title "Listing venues" %>

<h1><%= yield(:title) %></h1>

<ul>
  <% @venues.each do |venue| %>
    <li>
        <%= link_to venue.name, edit_admin_venue_path(venue) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Venue", new_admin_venue_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_venues_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>