<% title "Editing #{@sport.name}" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_sport_path(@sport), 
                              method: :put } %>

<ul>
  <li><%= link_to "Destroy", admin_sport_path(@sport),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>