<% title "Listing sports" %>

<h1><%= yield(:title) %></h1>

<ul>
  <% @sports.each do |sport| %>
    <li>
        <%= link_to sport.name, edit_admin_sport_path(sport) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Sport", new_admin_sport_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_sports_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>