<% title "New sport" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_sports_path(@sport), 
                              method: :post } %>
