<% title "Sport details: #{@sport.name}" %>

<h1><%= yield(:title) %></h1>

<%= render 'show', model: @sport %>

<%= link_to "Edit", edit_admin_sport_path(@sport),
                  class: "btn btn-primary btn-sm" %>
<%= link_to "Back", admin_sports_path,
                  class: "btn btn-primary btn-sm" %>
