<% title "New volunteer" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_volunteers_path(@volunteer), 
                              method: :post } %>

<br/>

<%= link_to "Back", admin_volunteers_path,
                  class: primary_button_class,
                  role: "button" %>
