<h1>Editing sport result entry</h1>

<%= render partial: "form", locals: { 
                    url: admin_sport_result_entry_path(@admin_sport_result_entry), 
                    method: :patch } %>

<br>

<div>
  <%= link_to "Show this sport result entry", admin_sport_result_entry_path(@admin_sport_result_entry) %> |
  <%= link_to "Back to sport result entries", admin_sport_result_entries_path %>
</div>