<h1>Sport result entries</h1>

<div id="admin_sport_result_entries">
  <% @admin_sport_result_entries.each do |admin_sport_result_entry| %>
    <%= render admin_sport_result_entry %>
    <p>
      <%= link_to "Show this sport result entry", admin_sport_result_entry_path(admin_sport_result_entry) %>
    </p>
  <% end %>
</div>

<%= link_to "New sport result entry", new_admin_sport_result_entry_path %>