<h1>New sport result entry</h1>

<%= render partial: "form", locals: { 
                    url: admin_sport_result_entries_path, 
                    method: :post } %>

<br>

<div>
  <%= link_to "Back to sport result entries", admin_sport_result_entries_path %>
</div>