<% title "Listing fee categories" %>

<h1><%= yield(:title) %></h1>

<% unless @group_fee_categories.empty? %>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Effect</th>
                <th>Actions</th>
            </tr>
        </thead>
    
        <%= render @group_fee_categories %>
    </table>
<% else %>
    <p>There are no fee categories recorded yet for your group.</p>
<% end %>

<%= link_to "New fee category", new_gc_group_fee_category_path,
                  class: primary_button_class,
                  role: "button" %>
