<tr valign="top" class="<%= item_display_class(lost_item) %>">
	<td> 
		<% if lost_item.photo.representable? %>
			<%= image_tag lost_item.photo.representation(resize_to_limit: [80, 100])  %>
		<% end %>
	</td>
	<td> 
		<%= h(lost_item.category) %>
	</td>
	<td> 
		<%= link_to(h(truncate(lost_item.description, :length => 80)), edit_admin_lost_item_path(lost_item)) %></br>
	</td>
</tr>
