<tr valign="top">
	<td> 
		<%= link_to h(role.name), edit_admin_role_path(role)  %></span></br>
	</td>

	<td> 
		<%= h(role.group_related) %></br>
	</td>

	<td> 
		<%= h(role.participant_related) %></br>
	</td>
</tr>
