<% title "Participant details: #{@participant.name}" %>

<h1><%= yield(:title) %></h1>

<%= render 'show', model: @participant %>

<%= link_to "Back", admin_participants_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Edit", edit_admin_participant_path(@participant),
                  class: primary_button_class,
                  role: "button" %>
