<% content_for(:title) { "SYG Registration" } %>

<h2 class="h2"><%= yield(:title) %></h2>

<p>Hi</p>

<p>You have an opportunity to be a late registration for State Youth Games <%= @settings.this_year %>.</p> 

<p>To complete the registration process and set your password please use <%= link_to 'this link', transfer_participant_signups_url(token: @token, protocol: "https", host: @settings.website_host) %> to the signup page for <%= @participant.group.short_name %> </p>

<p>Kind regards,</p>

<p>The SYG Registrations Team</p>