<% content_for(:title) { "SYG Registration" } %>

<h2 class="h2"><%= yield(:title) %></h2>

<p>Hi</p>

<p>You have an opportunity to be a late registration for State Youth Games <%= @settings.this_year %>.</p> 

<p>To complete the registration process and set your password please use this link to the signup page for <%= @participant.group.short_name %> : <%= link_to mysyg_signup_url(group: @participant.group.mysyg_setting.mysyg_name, protocol: "https", host: @settings.website_host), mysyg_signup_url(group: @participant.group.mysyg_setting.mysyg_name, protocol: "https", host: @settings.website_host) %> </p>

<p>Kind regards,</p>

<p>The SYG Registrations Team</p>