<% title "Optional extras wanted by your participants" %>

<h1><%= yield(:title) %></h1>

<% if @participant_extras.empty? %>
	<p>Your group does not have any optional extras</p>

<% else %>
    <table class="table table-dark table-striped">
		<thead>
		    <tr>
	           <th>Participant</th>
	           <th>Item</th>
	           <th>Size</th>
	           <th align="left">Comment</th>
		    </tr>
		</thead>

        <%= render @participant_extras %>
    </table>
<% end %>
