<% if sport.rules_file.attached? %>
    <tr valign="top">
        <td>
            <%= h(sport.name) %>
        </td>
        
        <% if sport.rules_file.representable? %>
            <td><%= link_to(image_tag(sport.rules_file.representation(resize_to_limit: [40, 50])), rails_blob_path(sport.rules_file, disposition: "attachment")) %></td>
        <% else %>
            <td><%= link_to "Rules", rails_blob_path(sport.rules_file, disposition: "attachment") %></td>
        <% end %>
    </tr>
<% end %>
