<% title "Sports Draws" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Sport</th>
      <th>Name</th>
      <th>Draw</th>
      <th>Last Update</th>
    </tr>
  </thead>

	<%= render partial: 'sports_draws', collection: @sport_entries, as: :sport_entry %>
</table>
