<% title "Sports Allocation Factors" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "sports_factors", 
           locals: { url: update_sports_factors_admin_setting_path(@setting),
                     setting: @setting } %>
