<% title "Fee settings" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "fees", 
           locals: { url: update_fees_admin_setting_path(@setting),
                     setting: @setting } %>
