<% title "Division settings" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "divisions", 
           locals: { url: update_divisions_admin_setting_path(@setting),
                     setting: @setting } %>
