<% title "Functionality settings" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "functionality", 
           locals: { url: update_functionality_admin_setting_path(@setting),
                     setting: @setting } %>
