<% title "State Youth Games Settings:" %>

<h1><%= yield(:title) %></h1>

<%= render 'show', model: @setting %>

<%= link_to "Edit", edit_admin_setting_path(@setting),
                  class: "btn btn-primary btn-sm" %>
