<tr valign="top">
	<td> 
		<%= h(timeline.key_date) %></br>
	</td>

	<td> 
		<%= link_to h(timeline.name), edit_admin_timeline_path(timeline)  %></span></br>
	</td>

	<td> 
		<%= h(timeline.description) %></br>
	</td>
</tr>
