<% title "Timeline details: #{@timeline.name}" %>

<h1><%= yield(:title) %></h1>

<%= render 'show', model: @timeline %>

<%= link_to "Back", admin_timelines_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Edit", edit_admin_timeline_path(@timeline),
                  class: primary_button_class,
                  role: "button" %>
