<% title "Safety Checklists" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Abbr</th>
      <th>Short Name</th>
      <th>Time Ready</th>
      <th>Completed by</th>
    </tr>
  </thead>

	<%= render partial: 'site_checklist', collection: @rego_checklists, as: :rego_checklist %>
</table>

<%= legend_box [{:name => "Passed", :class => "table-primary"},
					{:name => "Recheck required", :class => "table-warning"},
					{:name => "Not checked", :class => "table-dark"}] %>
