<% title "Switch roles" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
	<%= render partial: 'available_role', collection: @roles %>
</table>

<%= link_to "Back", :back,
                  class: primary_button_class,
                  role: "button" %>
