<% title "My Volunteering" %>

<h1><%= yield(:title) %></h1>
 
<% if @settings.volunteers_loaded %>

    <p>Please be patient. This feature is on its way</p>

<% else %>

	<p>Required volunteer positions have not been finalised as yet for <%= @settings.this_year %>. This will be updated shortly.</p>
	<p>Keep an eye on advice from your Group Coordinator for when this is available.</p>

<% end %>
