<tr valign="top" class="<%= group_submission_class(group) %>">

    <td width="30%">
        <span class="list-title"><%= link_to h(group.name), 
	    	edit_admin_group_path(:id => group) -%></span><br />
    </td>

    <td align="left">
    </td>

    <td align="center">
    </td>

    <td align="left">
    </td>

    <td align="center">
    </td>
</tr>
