<% title "Group Sports Participant Numbers Audit" %>

<h1><%= yield(:title) %></h1>

<%= link_to "Download", session_participants_admin_groups_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

<br/>
<br/>

<table class="table table-dark">
    <thead>
	    <tr>
            <th>Abbr</th>
            <th>Playing</th>
            <th>Expected</th>
            <th>Sat AM</th>
            <th>Sat PM</th>
            <th>Sat Eve</th>
            <th>Sun AM</th>
            <th>Sun PM</th>
            <th>Sun Eve</th>
	    </tr>

        <%= render :partial => 'group_session_participants', :collection => @groups, :as => :group %>
    </thead>
</table>

<%= link_to "Download", session_participants_admin_groups_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>
