<% title "Spirit of the Games Award" %>

<h1><%= yield(:title) %></h1>

<p>The Spirit award is given to a group that consistently demonstrates the SYG values of fairness, inclusion, welcome and Gospel-centred love for all as demonstrated through action.</p>

<% if @settings.syg_is_happening %>
    <%= render partial: "form", locals: { 
                                url: create_spirit_sc_awards_path, 
                                method: :post } %>

<% else %>
    <h2>Closed</h2>
	<p>This award will start accepting nominations during State Youth Games. </p>
    <p>Come back then to start nominating</p>
<% end %>
