<tr valign="top">
	<td> 
		<%= link_to h(user.email), edit_admin_user_path(user)  %></span></br>
	</td>

	<td> 
		<% user.roles.each do |r| %>
			<span class="<%= role_badge_class(r) %>"> <%= r.name %> </span>
		<% end %>
	</td>
</tr>
