<% title "Listing users" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Roles</th>
    </tr>
  </thead>

	<%= render @users %>
</table>

<%= link_to "New user", new_admin_user_path,
                  class: primary_button_class,
                  user: "button" %>
