<% title "Volunteering details for #{h(@volunteer.description)}" %>

<h1><%= yield(:title) %></h1>

<%= render :partial => 'form', :locals => {:method => 'patch'} %>

<br/>

<%= link_to "Back", :back,
                  class: primary_button_class,
                  user: "button" %>
