<tr valign="top">
	<td> 
		<%= h(volunteer.volunteer_type.name) %>
	</td>

	<td> 
		<%= h(volunteer.description) %>
	</td>

	<td> 
		<%= h(volunteer.session_name) %>
	</td>

	<td> 
		<%= h(volunteer.participant_name) %>
	</td>
</tr>
