<div id="<%= chart_element %>" class="chart col-lg-2"></div>

<%= raw Seer::visualize(
    chart_data, 
    as: :pie_chart,
    in_element: chart_element,
    series: {
      series_label: 'title',
      data_method: 'data'
    },
    chart_options: { 
      height: 200,
      width: 260,
      axis_font_size: 11,
      title_font_size: 15,
      title_color: 000000,
      title: title,
      point_size: 8,
      is_3_d: true,
      colors: "[{color:'#07915D', darker:'#07915D'}, 
				   {color:'#10518B', darker:'#10518B'}, 
				   {color:'#54BE09', darker:'#54BE09'}, 
				   {color:'#D74A0A', darker:'#D74A0A'}]",
	  legend: 'label',
	  legend_text_color: 222222
    }
   )
-%>