<% title "Listing Warden Zones" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Zone</th>
      <th>Info</th>
    </tr>
  </thead>

	<%= render @warden_zones %>
</table>

<%= link_to "New Warden Zone", new_admin_warden_zone_path,
                  class: primary_button_class,
                  role: "button" %>
