<% content_for(:title) { "Restricted Sports Offer" } %>

<h2 class="h2"><%= yield(:title) %></h2>

<p>Hi</p>

<p>We have had a group withdrawal from <%= @entry.grade.name %> (<%= @entry.session_name %>).</p>
<p>This email is being sent to all groups on the waiting list.</p>
<p>The first group to reply to this email will be allocated the place. </p>
 
<p>Regards,</p>

<p>Glenn Davey & Jarrod Parsons</p>
<p>Sports Directors</p>
