<nav class="navbar navbar-dark navbar-static-bottom">
    <div class="container">
        <ul class="nav navbar-nav mr-auto">
	        <li class='nav-item'><a class="nav-link d-inline-block" href="/static/info">About Us</a></li>
	        <li class='nav-item'><a class="nav-link d-inline-block" href="/static/privacy">Privacy Policy</a></li>
	        <li class='nav-item'><a class="nav-link d-inline-block" href="/static/terms">Terms & Conditions</a></li>
        </ul>
    </div>
</nav>