<nav class="navbar navbar-dark navbar-static-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
	                <li><a class="text-muted" href="/static/info">About Us</a></li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
	                <li><a class="text-muted" href="/static/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
	                <li><a class="text-muted" href="/static/image">Image Use Policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
	                <li><a class="text-muted" href="/static/terms">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>