<% title "New voucher" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_vouchers_path(@voucher), 
                              method: :post } %>

<br/>

<%= link_to "Back", admin_vouchers_path,
                  class: primary_button_class,
                  role: "button" %>
